In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [29]:
df = pd.read_csv('https://raw.githubusercontent.com/NizELITe/Data-Science-and-ML/main/data.csv')
df

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6814,0,0.493687,0.539468,0.543230,0.604455,0.604462,0.998992,0.797409,0.809331,0.303510,...,0.799927,0.000466,0.623620,0.604455,0.840359,0.279606,0.027064,0.566193,1,0.029890
6815,0,0.475162,0.538269,0.524172,0.598308,0.598308,0.998992,0.797414,0.809327,0.303520,...,0.799748,0.001959,0.623931,0.598306,0.840306,0.278132,0.027009,0.566018,1,0.038284
6816,0,0.472725,0.533744,0.520638,0.610444,0.610213,0.998984,0.797401,0.809317,0.303512,...,0.797778,0.002840,0.624156,0.610441,0.840138,0.275789,0.026791,0.565158,1,0.097649
6817,0,0.506264,0.559911,0.554045,0.607850,0.607850,0.999074,0.797500,0.809399,0.303498,...,0.811808,0.002837,0.623957,0.607846,0.841084,0.277547,0.026822,0.565302,1,0.044009
6818,0,0.493053,0.570105,0.549548,0.627409,0.627409,0.998080,0.801987,0.813800,0.313415,...,0.815956,0.000707,0.626680,0.627408,0.841019,0.275114,0.026793,0.565167,1,0.233902

In [30]:
df.describe()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
count,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,...,6819.000000,6.819000e+03,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.000000,6819.0,6819.000000
mean,0.032263,0.505180,0.558625,0.553589,0.607948,0.607929,0.998755,0.797190,0.809084,0.303623,...,0.807760,1.862942e+07,0.623915,0.607946,0.840402,0.280365,0.027541,0.565358,1.0,0.047578
std,0.176710,0.060686,0.065620,0.061595,0.016934,0.016916,0.013010,0.012869,0.013601,0.011163,...,0.040332,3.764501e+08,0.012290,0.016934,0.014523,0.014463,0.015668,0.013214,0.0,0.050014
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,0.000000,0.476527,0.535543,0.527277,0.600445,0.600434,0.998969,0.797386,0.809312,0.303466,...,0.796750,9.036205e-04,0.623636,0.600443,0.840115,0.276944,0.026791,0.565158,1.0,0.024477
50%,0.000000,0.502706,0.559802,0.552278,0.605997,0.605976,0.999022,0.797464,0.809375,0.303525,...,0.810619,2.085213e-03,0.623879,0.605998,0.841179,0.278778,0.026808,0.565252,1.0,0.033798
75%,0.000000,0.535563,0.589157,0.584105,0.613914,0.613842,0.999095,0.797579,0.809469,0.303585,...,0.826455,5.269777e-03,0.624168,0.613913,0.842357,0.281449,0.026913,0.565725,1.0,0.052838
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,9.820000e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000

In [31]:
#check for for different columns
df.columns.unique()

Index(['Bankrupt?', ' ROA(C) before interest and depreciation before interest',
       ' ROA(A) before interest and % after tax',
       ' ROA(B) before interest and depreciation after tax',
       ' Operating Gross Margin', ' Realized Sales Gross Margin',
       ' Operating Profit Rate', ' Pre-tax net Interest Rate',
       ' After-tax net Interest Rate',
       ' Non-industry income and expenditure/revenue',
       ' Continuous interest rate (after tax)', ' Operating Expense Rate',
       ' Research and development expense rate', ' Cash flow rate',
       ' Interest-bearing debt interest rate', ' Tax rate (A)',
       ' Net Value Per Share (B)', ' Net Value Per Share (A)',
       ' Net Value Per Share (C)', ' Persistent EPS in the Last Four Seasons',
       ' Cash Flow Per Share', ' Revenue Per Share (Yuan ¥)',
       ' Operating Profit Per Share (Yuan ¥)',
       ' Per Share Net profit before tax (Yuan ¥)',
       ' Realized Sales Gross Profit Growth Rate',
       ' Operating Profit Growth Rate', ' After-tax Net Profit Growth Rate',
       ' Regular Net Profit Growth Rate', ' Continuous Net Profit Growth Rate',
       ' Total Asset Growth Rate', ' Net Value Growth Rate',
       ' Total Asset Return Growth Rate Ratio', ' Cash Reinvestment %',
       ' Current Ratio', ' Quick Ratio', ' Interest Expense Ratio',
       ' Total debt/Total net worth', ' Debt ratio %', ' Net worth/Assets',
       ' Long-term fund suitability ratio (A)', ' Borrowing dependency',
       ' Contingent liabilities/Net worth',
       ' Operating profit/Paid-in capital',
       ' Net profit before tax/Paid-in capital',
       ' Inventory and accounts receivable/Net value', ' Total Asset Turnover',
       ' Accounts Receivable Turnover', ' Average Collection Days',
       ' Inventory Turnover Rate (times)', ' Fixed Assets Turnover Frequency',
       ' Net Worth Turnover Rate (times)', ' Revenue per person',
       ' Operating profit per person', ' Allocation rate per person',
       ' Working Capital to Total Assets', ' Quick Assets/Total Assets',
       ' Current Assets/Total Assets', ' Cash/Total Assets',
       ' Quick Assets/Current Liability', ' Cash/Current Liability',
       ' Current Liability to Assets', ' Operating Funds to Liability',
       ' Inventory/Working Capital', ' Inventory/Current Liability',
       ' Current Liabilities/Liability', ' Working Capital/Equity',
       ' Current Liabilities/Equity', ' Long-term Liability to Current Assets',
       ' Retained Earnings to Total Assets', ' Total income/Total expense',
       ' Total expense/Assets', ' Current Asset Turnover Rate',
       ' Quick Asset Turnover Rate', ' Working capitcal Turnover Rate',
       ' Cash Turnover Rate', ' Cash Flow to Sales', ' Fixed Assets to Assets',
       ' Current Liability to Liability', ' Current Liability to Equity',
       ' Equity to Long-term Liability', ' Cash Flow to Total Assets',
       ' Cash Flow to Liability', ' CFO to Assets', ' Cash Flow to Equity',
       ' Current Liability to Current Assets', ' Liability-Assets Flag',
       ' Net Income to Total Assets', ' Total assets to GNP price',
       ' No-credit Interval', ' Gross Profit to Sales',
       ' Net Income to Stockholder's Equity', ' Liability to Equity',
       ' Degree of Financial Leverage (DFL)',
       ' Interest Coverage Ratio (Interest expense to EBIT)',
       ' Net Income Flag', ' Equity to Liability'],
      dtype='object')

In [32]:
#check unique values in each column
{column:len(df[column].unique()) for column in df.columns}

{'Bankrupt?': 2,
 ' ROA(C) before interest and depreciation before interest': 3333,
 ' ROA(A) before interest and % after tax': 3151,
 ' ROA(B) before interest and depreciation after tax': 3160,
 ' Operating Gross Margin': 3781,
 ' Realized Sales Gross Margin': 3788,
 ' Operating Profit Rate': 3376,
 ' Pre-tax net Interest Rate': 3789,
 ' After-tax net Interest Rate': 3604,
 ' Non-industry income and expenditure/revenue': 2551,
 ' Continuous interest rate (after tax)': 3617,
 ' Operating Expense Rate': 2966,
 ' Research and development expense rate': 1536,
 ' Cash flow rate': 5557,
 ' Interest-bearing debt interest rate': 1080,
 ' Tax rate (A)': 2488,
 ' Net Value Per Share (B)': 2278,
 ' Net Value Per Share (A)': 2285,
 ' Net Value Per Share (C)': 2284,
 ' Persistent EPS in the Last Four Seasons': 1358,
 ' Cash Flow Per Share': 1545,
 ' Revenue Per Share (Yuan ¥)': 3807,
 ' Operating Profit Per Share (Yuan ¥)': 1236,
 ' Per Share Net profit before tax (Yuan ¥)': 1522,
 ' Realized Sales Gross Profit Growth Rate': 5583,
 ' Operating Profit Growth Rate': 6249,
 ' After-tax Net Profit Growth Rate': 6246,
 ' Regular Net Profit Growth Rate': 6253,
 ' Continuous Net Profit Growth Rate': 6270,
 ' Total Asset Growth Rate': 1751,
 ' Net Value Growth Rate': 4502,
 ' Total Asset Return Growth Rate Ratio': 2903,
 ' Cash Reinvestment %': 3599,
 ' Current Ratio': 6132,
 ' Quick Ratio': 6094,
 ' Interest Expense Ratio': 3794,
 ' Total debt/Total net worth': 5518,
 ' Debt ratio %': 4208,
 ' Net worth/Assets': 4208,
 ' Long-term fund suitability ratio (A)': 6523,
 ' Borrowing dependency': 4338,
 ' Contingent liabilities/Net worth': 1855,
 ' Operating profit/Paid-in capital': 4423,
 ' Net profit before tax/Paid-in capital': 4785,
 ' Inventory and accounts receivable/Net value': 5289,
 ' Total Asset Turnover': 381,
 ' Accounts Receivable Turnover': 1593,
 ' Average Collection Days': 5451,
 ' Inventory Turnover Rate (times)': 2397,
 ' Fixed Assets Turnover Frequency': 2451,
 ' Net Worth Turnover Rate (times)': 741,
 ' Revenue per person': 5667,
 ' Operating profit per person': 3023,
 ' Allocation rate per person': 6768,
 ' Working Capital to Total Assets': 6819,
 ' Quick Assets/Total Assets': 6819,
 ' Current Assets/Total Assets': 6819,
 ' Cash/Total Assets': 6819,
 ' Quick Assets/Current Liability': 6819,
 ' Cash/Current Liability': 6816,
 ' Current Liability to Assets': 6819,
 ' Operating Funds to Liability': 6819,
 ' Inventory/Working Capital': 6593,
 ' Inventory/Current Liability': 6590,
 ' Current Liabilities/Liability': 6627,
 ' Working Capital/Equity': 6819,
 ' Current Liabilities/Equity': 6819,
 ' Long-term Liability to Current Assets': 4249,
 ' Retained Earnings to Total Assets': 6819,
 ' Total income/Total expense': 6819,
 ' Total expense/Assets': 6819,
 ' Current Asset Turnover Rate': 6261,
 ' Quick Asset Turnover Rate': 5377,
 ' Working capitcal Turnover Rate': 6819,
 ' Cash Turnover Rate': 4023,
 ' Cash Flow to Sales': 6819,
 ' Fixed Assets to Assets': 6814,
 ' Current Liability to Liability': 6627,
 ' Current Liability to Equity': 6819,
 ' Equity to Long-term Liability': 4251,
 ' Cash Flow to Total Assets': 6819,
 ' Cash Flow to Liability': 6819,
 ' CFO to Assets': 6819,
 ' Cash Flow to Equity': 6819,
 ' Current Liability to Current Assets': 6819,
 ' Liability-Assets Flag': 2,
 ' Net Income to Total Assets': 6819,
 ' Total assets to GNP price': 6818,
 ' No-credit Interval': 6819,
 ' Gross Profit to Sales': 6816,
 " Net Income to Stockholder's Equity": 6819,
 ' Liability to Equity': 6819,
 ' Degree of Financial Leverage (DFL)': 6240,
 ' Interest Coverage Ratio (Interest expense to EBIT)': 6240,
 ' Net Income Flag': 1,
 ' Equity to Liability': 6819}

In [33]:
def preprocess_data(dataframe):
  df=dataframe.copy()
  df=df.drop(' Net Income Flag',axis=1)
  y=df['Bankrupt?']
  x=df.drop('Bankrupt?',axis=1)
  #splitting the data
  x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=1)
  #scaling the data 
  scalar=StandardScaler()
  scalar.fit(x_train)
  #saving scaled data in dataframe / since there are too many columns with high value gaps 
  x_train=pd.DataFrame(scalar.transform(x_train),columns=x_train.columns)
  x_test=pd.DataFrame(scalar.transform(x_test),columns=x_test.columns)
  return x_train,x_test,y_train,y_test

In [34]:
x_train,x_test,y_train,y_test=preprocess_data(df)

In [35]:
#reducing large number of columns of x_train into 10 number
n_components=10
pca = PCA(n_components=n_components)
x_train_reduced=pd.DataFrame(pca.fit_transform(x_train),columns=['RedC'+str(i) for i in range(1,n_components+1)])
x_test_reduced=pd.DataFrame(pca.fit_transform(x_test),columns=['RedC'+str(i) for i in range(1,n_components+1)])

In [36]:
x_train_reduced

,RedC1,RedC2,RedC3,RedC4,RedC5,RedC6,RedC7,RedC8,RedC9,RedC10
0,21.397084,-7.429427,-10.375651,16.373859,8.397912,14.804828,-1.143973,0.355992,2.034526,-2.803928
1,-0.537284,-0.633234,1.523391,0.056947,-0.895758,0.114143,0.167981,-0.370503,-0.630130,-0.427278
2,-3.777762,-0.483208,1.125988,0.335138,1.276925,0.361986,0.879880,-0.644692,-1.552622,-1.050598
3,3.117685,-0.670236,1.195002,-0.648216,-1.866561,0.646721,0.844088,-0.786241,-0.402891,-0.917989
4,0.849567,0.693041,-1.481525,-0.480074,-0.760716,0.090251,-0.803093,0.963936,0.879375,0.590722
...,...,...,...,...,...,...,...,...,...,...
4768,0.566121,-0.528861,0.118894,-0.415918,0.397110,0.995015,-0.120878,-0.628853,-0.970751,-0.264230
4769,-2.253225,3.497966,-4.648151,-0.696893,-0.647731,1.188398,-0.228782,0.606745,0.564561,0.535312
4770,-5.630054,0.346810,-0.508506,1.044571,2.018114,0.580195,-1.448084,-2.814723,0.866722,0.399876
4771,7.567223,-0.173532,0.268847,-0.821173,-0.230913,-0.916650,2.122565,-0.013660,-0.289459,0.123719
4772,-2.062294,-0.797348,0.953176,0.106085,0.490516,0.854228,-0.542263,-1.202787,-0.480521,-0.108742

In [37]:
x_test_reduced

,RedC1,RedC2,RedC3,RedC4,RedC5,RedC6,RedC7,RedC8,RedC9,RedC10
0,-2.459738e+09,-2.039291e+07,-0.928818,-0.072150,-0.288773,-0.056902,-0.833377,-0.132205,-0.630028,1.516349
1,-2.459738e+09,-2.039292e+07,-0.907208,0.002813,-0.208390,-0.032191,-1.456571,0.043062,1.648978,0.089626
2,-2.459738e+09,-2.039291e+07,-0.743301,0.016837,-0.273383,0.290787,-2.828166,-0.037812,-1.266173,0.753855
3,-2.459738e+09,-2.039291e+07,-0.961035,-0.051213,-0.220103,-0.458772,-1.316915,-0.050557,-0.117376,1.239716
4,-2.459738e+09,-2.039291e+07,-0.967755,-0.003568,-0.169534,-0.117862,-0.936936,-0.022804,0.849413,-0.191690
...,...,...,...,...,...,...,...,...,...,...
2041,-2.459738e+09,-2.039291e+07,-1.141760,-0.191230,-0.322196,-0.282724,3.586246,-0.310127,-1.109128,0.742697
2042,-2.459738e+09,-2.039291e+07,-0.912373,0.019652,-0.168994,-0.027707,-2.313723,0.116825,2.144220,-0.349075
2043,-2.459738e+09,-2.039292e+07,-0.930654,-0.003595,-0.161441,-0.100318,-0.504813,0.020836,3.433352,-1.309506
2044,-2.459738e+09,-2.039292e+07,-1.032454,-0.052487,-0.253226,-0.264778,2.263078,-0.244646,1.781930,0.857019
2045,-2.459738e+09,-2.039291e+07,-0.456912,0.527408,0.317476,1.750366,-25.523297,1.736521,13.763150,-37.078298

In [38]:
multiple_models={
    'Logistic Regression':LogisticRegression(),
    'K_Nearest Neighbors':KNeighborsClassifier(),
    'Decision Tree':DecisionTreeClassifier(),
    'Random Forest':RandomForestClassifier(),
}

In [39]:
result=[]

for name,model in multiple_models.items():
  model.fit(x_train_reduced,y_train)
  score=model.score(x_test_reduced,y_test)
  result.append(score)
  print(name+":" +str(score))

Logistic Regression:0.9652981427174976
K_Nearest Neighbors:0.9652981427174976
Decision Tree:0.9648093841642229
Random Forest:0.9652981427174976

In [40]:
import numpy as np
np.mean(result)

0.9651759530791789